.env
frontend/node_modules
docs/node_modules
frontend/dist
backend/tmp
backend/allure-report.html
backend/allure-report/
backend/allure-results/
backend/coverage.html
backend/coverage.out
backend/branch-coverage.txt
backend/condition-coverage.txt
backend/test-results/
*.drawio.bkp
